@font-face {
    font-family: 'Noto Serif JP';
    src: url('NotoSerifJP-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('NotoSerifJP-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}
